.background {
    height: 100vh;
}

.gameplay {
    width: 90vw;
    margin: auto;
    display: flex;
}

.player-board, .right-column {
    height: 76vh;
}

.right-column {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player-board {
    width: 51vw;
    display: flex;
    flex-wrap: wrap;
}

.computer-board {
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
}

.ship-yard {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;    
}

.game-btns {
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: center;
}

