.footer-txt{
    font-family: 'Cinzel', serif;
    text-align:right;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-right:10px
    
}
footer a{
    margin:10px;
    color:white;
}